<% provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>Welcome to the <%=ApplicationController::SITE_NAME%></h1>
	<%= link_to "Create new order", new_order_path, class: "btn btn-lg btn-primary" %>
</div>