<% provide(:title, "All Orders") %>
<div class="container">
	<h1>All Orders</h1>

	<%= form_tag orders_path, :method => 'get', :id => "orders_search" do %>
	  <p>
	  	<div class="row">
	  		<div class="col-sm-2">
	    		<%= text_field_tag :search, params[:search], class: "form-control" %>
    		</div>
	    	<div class="col-sm-1">
	    		<%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
    		</div>
	    </div>
	    <div id="orders">
	    	<%= render '/orders/orders' %>
	    </div>
	  </p>
	<% end %>

</div>